// This file should be processed using a SASS compiler, and will compile to /dist/css/styles.css

// This file exists to permit override of UI kit-specific vars, such as paths to images
@import "_ui-kit-override-vars";
@import "../../uikit_base/ui-kit/assets/sass/ui-kit.scss";
@import "_functions";
@import "_vars";
@import "campaign/vars";

// Sub-theme prototype customisation
@import "sub-theme";

// Custom layout
@import "layout/*";

// Custom components
@import "components/*";

// Campaign specific styles
@import "campaign/**/*";
