.node-type-campaign {
  .after-content {
    background-color: #DDDDDD;

    h3 {
      margin: auto;
    }

    a {
      color: #313131;
      text-decoration: none;
      outline: none;
      border-bottom: solid 1px #5bcbe3;
      transition-timing-function: ease-in-out;
      transition-duration: 0.1s;
      transition-property: background-color, border-color, color;
    }

    a:hover {
      background-color: #5bcbe3;
      color: #313131;
    }
  }
}
