.node-type-campaign {
  main {
    padding: 0px;
    max-width: 100%;
  }

  main .content-main {
    h1.title {
      display: none;
    }
    @include media($mobile) {
      @include span-columns(8 of 8);
    }
  }
}

.node-type-video,
.page-search404,
.page-node-1 {
  main .content-main {
    @include media($mobile) {
      @include span-columns(8 of 8);
    }
  }
}
