section.site-nav {
  color: #ffffff;
  position: relative;
  padding: 1.2em 0 4.8em;
  padding-bottom: 1.2em;
  margin-bottom: 0;
  background-color: #278288;
  color: #ffffff;

  .girls {
    font-family: "sunkissed","ostrich","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-size: 5rem;
  }
}