// Campaign specific band overrides
// If the background colour is dark add @include invert-colours(); switch the font colour of all child elements

@import "vars";

// Default band types
.band--primary {
  padding-top: $large-spacing;
}

.band--secondary {
  padding-top: $large-spacing;
}

.band--texture {
  padding-top: $large-spacing;
}

.breastscreen-band--gradient {
  @include linear-gradient(90deg, $background-colour-secondary, $white, $fallback: $background-colour-secondary);
  padding-top: $large-spacing;
}

// New
.breastscreen-band--tertiary {
  background: $colour-tertiary;
}

// Img/text bands
.band--img-text {
  @extend .band;
  overflow: hidden;
  @include pad($large-spacing 0);

  .band__img {
    line-height: 0;
    @include fill-parent;
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
    @include media($desktop) {
      @include span-columns(6 of 16);
    }
  }

  .band__text {
    @include fill-parent;
    @include media($tablet) {
      @include span-columns(8 of 12);
      margin-bottom: $large-spacing;
    }
    @include media($desktop) {
      @include span-columns(10 of 16);
    }
  }
}

// Halves
.band--img-text-halves {
  @extend .band--img-text;
  padding-bottom: large-spacing;
  @include media($tablet) {
    padding-bottom: $medium-spacing;
  }
  .band__img,
  .band__text {
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(8 of 16);
    }
  }

  .band__img {
    text-align: center;
    img {
      width: 100%;
    }
  }

}

.band--img-text-halves--invert {
  @extend .band--img-text-halves;
  @include media($tablet) {
    .band__text {
      float: right;
    }
  }
}

// Push image to bottom of band
.band--tight-bottom {
  padding-bottom: 0;
  .band__img {
    vertical-align: bottom;
    text-align: center;
    padding: 0;
    margin: 0;
    img {
      width: 80%;
      float: none;
      margin-left: 10%;
      display: block;
    }
    @include media($tablet) {
      img {
        float: left; // Takes out of flow and aligns to bottom
      }
    }
  }
}

.band-nopad {
  padding-top: 0;
  padding-bottom: 0;
}

.breastscreen-band--partners {
  @extend .band;
  background: $colour-primary;
  color: #fff;
  padding-top: $small-spacing;
  img {
    width: auto;
    margin: 0 auto;
  }
  a {
    color: #fff;
  }
  .list-vertical--fourths > li {
    text-align: center;
  }
}

.breastscreen-band--hotline {
  @include pad($small-spacing 0 $tiny-spacing);
  background: $colour-primary;
  color: $white;
  text-align: center;
  p {
    margin-bottom: $tiny-spacing;
  }
}

.band--quitline__image {
  max-width: 50%;
  @include media($tablet) {
    max-width: 100%;
  }
}

.band--feature {
  @include pad($large-spacing 0);
  h2 {
    margin-top: 0;
  }
  .feature__item {
    @include pad($medium-spacing);
    margin-bottom: $medium-spacing;
  }

  .feature__list--primary {
    background: $colour-primary;
    color: $white;

    @include fill-parent;
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
    @include media($desktop) {
      @include span-columns(6 of 16);
    }

    .feature__item {
      @include media($desktop) {
        min-height: 491px;
      }
    }
  }

  .feature__list--secondary {
    @include fill-parent;
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
    @include media($desktop) {
      @include span-columns(10 of 16);
    }

    .feature__item {
      background: $colour-tertiary;

      @include fill-parent;
      @include media($tablet) {
        @include span-columns(4 of 8);
        @include omega(2n);
      }
      @include media($desktop) {
        @include span-columns(5 of 10);
        @include omega(2n);
      }
    }
  }
}

// New abstract for feature
p.highlight {
  @extend .abstract;
  border-bottom: 0;
  margin-bottom: $small-spacing;
  padding-bottom: 0;
}

// Campaign only band colours
.band--colour-1 {
  background: $colour-1;
}

.band--colour-2 {
  background: $colour-2;
}

.band--colour-3 {
  background: $colour-3;
}

.band--colour-4 {
  background: $colour-4;
}

.band--colour-5 {
  background: $colour-5;
}

.band--colour-6 {
  background: $colour-6;
}

.band--colour-7 {
  background: $colour-7;
}

.band--transparent {
  background: none;
}

// Video
.list-vertical > li,
.list-vertical--thirds > li,
.list-vertical--fourths > li {
  padding-top: 0;
  border: 0;
}

