// Tweaks for mobile positioning
.breastscreen {
  .hero {
    .hero-bg {
      background-position-y: 35px;
      height: 225px;
      @include media($tablet) {
        background-position-y: 10px; //reset
        height: $hero-background-height-tablet;
      }
      @include media($desktop) {
        height: $hero-background-height-desktop;
      }
    }
  }
  .hero--content {
    .hero-bg {
      background-position-y: -20px;
      @include media($tablet) {
        background-position-y: -60px; //reset
      }
      @include media($desktop) {
        background-position-y: -100px; //reset
      }
    }
    #block-bean-campaign-hero-logo {
      max-height: 106px;
      margin-top: -17px;
      @include media($tablet) {
        max-height: 165px;
        margin-top: -23px;
      }
      @include media($desktop) {
        max-height: 215px;
        margin-top: -25px;
      }
    }
  }
}
