// Styles for view modes for a content type
// ========================================

// Content type styles (hidden as not used directly in CSS)

%default {

}

%feature {

}

%list-vertical {

}


// Structure:
// .content-type {
//      .view-mode {
//          ...
//      }
// }

.node-image {
    // default
    &.view-mode-full {
        // layout
        .group-left {
            width: 50%;
            @include media($tablet) {
                //width: 30%;
            }
        }
        .group-right {
            width: 50%;
            @include media($tablet) {
                //width: 70%;
            }
        }
        // thumbnail
        .field-name-field-thumbnail {
            width: 90%;
        }
        // fields
        .field-items {
            padding-bottom: $medium-spacing;
            display: block;
        }
        .field-type-taxonomy-term-reference {
            margin-bottom: 0;
        }
        // ext link
        .field-name-field-link-external {
            border-left: 10px solid #ddd;
            padding-left: 20px;
            padding-top: 8px;
        }
        // paras
        p {
            max-width: 100%;
        }
    }

    // list-vertical and list-horizontal
    &.view-mode-list_vertical,
    &.view-mode-list_horizontal {
        // layout
        
        // thumbnail
        .field-name-field-thumbnail {
            width: 90%;
        }
        // lists
        .field-name-field-summary {
            ol, ul {
                padding-left: 1.2em;
            }
        }        
    }

    // list-horizontal overrides
    &.view-mode-list_horizontal {
        // layout
        // .group-left {
        //     width: 20%;
        //     @include media($tablet) {
        //         width: 25%;
        //     }
        // }
        // .group-right {
        //     width: 80%;
        //     @include media($tablet) {
        //         width: 75%;
        //     }
        // }
    }
}
