// Styles for view modes for a content type
// ========================================

// Content type styles (hidden as not used directly in CSS)

%default {

}

%feature {

}

%list-vertical {

}


// Structure:
// .content-type {
//      .view-mode {
//          ...
//      }
// }

.node-image {
    // default
    &.view-mode-full {
        // layout
        .group-left {
            width: 100%;
            @include media($tablet) {
                width: 50%;
            }
        }
        .group-right {
            width: 100%;
            @include media($tablet) {
                width: 50%;
            }
        }
        // thumbnail
        .field-name-field-thumbnail {
            width: 100%;
            @include media($tablet) {
                width: 90%;
            }
        }
        // fields
        .field-items {
            padding-bottom: $medium-spacing;
            display: block;
        }
        .field-type-taxonomy-term-reference {
            margin-bottom: 0;
        }
        // ext link
        .field-name-field-link-external {
            @include link-pullout;
        }

        h2 {
            margin-top: 0;
        }

        // Image download
        .paragraphs-item-image {
            @include link-pullout;
            .file-icon {
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
            a {
                border-bottom: 0;
            }
            .file__link {
                display: inline;
                font-weight: bold;
                border-bottom: solid 1px #5bcbe3;
                span {
                    @extend .visuallyhidden;
                }
            }
            .file__meta {
                display: inline;
                color: #6e6e6e;
            }
        }
        // paras
        p {
            max-width: 100%;
        }
    }

    // list-vertical and list-horizontal aka image gallery :)
    &.view-mode-list_vertical,
    &.view-mode-list_horizontal {
        // layout
        .field-name-field-thumbnail {
            background: $grey-light;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        .field-name-title {
            margin-top: $small-spacing;
        }
    }
}
