// Styles for view modes for a content type
// ========================================

// Content type styles (hidden as not used directly in CSS)

%default {

}

%feature {

}

%list-vertical {

}
%publication-thumbnail {
    border: 3px solid #ddd;
}


// Structure:
// .content-type {
//      .view-mode {
//          ...
//      }
// }

.node-publication {
    width: 100%;
    // default
    &.view-mode-full {
        // layout
        .group-left {
            @include media($mobile){
                width: 100%;
            }
            width: 30%;
        }
        .group-right {
            @include media($mobile) {
                width: 100%;
            }
            width: 70%;
        }
        // thumbnail
        .field-name-field-image-thumbnail {
            img {
                @extend %publication-thumbnail;
            }    
            @include media($mobile) {
                width: 100%;
            }     
            width: 80%;
        }
        // fields
        .field-items {
            padding-bottom: $medium-spacing;
            display: block;
        }
        .field-type-taxonomy-term-reference {
            margin-bottom: 0;
        }
        // ext link
        .field-name-field-link-external {
            @include link-pullout;
            a {
                font-weight: bold;
            }
        }
        // paras
        p {
            max-width: 100%;
        }
        h2 {
            margin-top: 0;
        }

        // document download
        .paragraphs-items-field-resource-document {
            .file-icon {
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
            a {
                border-bottom: 0;
            }
            .file__link {
                display: inline;
                font-weight: bold;
                border-bottom: solid 1px #5bcbe3;
                span {
                    @extend .visuallyhidden;
                }
            }
            .file__meta {
                display: inline;
                color: #6e6e6e;
            }
            .field-name-field-file {
                @include link-pullout;
            }
        }
    }

    // list-vertical and list-horizontal
    &.view-mode-list_vertical,
    &.view-mode-list_horizontal {
        // layout
        .group-left {
            width: 25%;
            @include media($tablet) {
                width: 15%;
            }
        }
        .group-right {
            width: 75%;
            @include media($tablet) {
                width: 85%;
            }
        }
        // thumbnail
        .field-name-field-image-thumbnail {
            width: 80%;
            img {
                @extend %publication-thumbnail;
            }
        }
        // date
        .field-type-datetime {
            font-size: $small-font-size;
            margin-bottom: $small-spacing;
            color: #6e6e6e;
        }
        // lists
        .field-name-field-summary {
            ol, ul {
                padding-left: 1.2em;
            }
        }        
    }

    // list-horizontal overrides
    &.view-mode-list_horizontal {
        // layout
        .group-left {
            width: 20%;
            @include media($tablet) {
                width: 25%;
            }
        }
        .group-right {
            width: 80%;
            @include media($tablet) {
                width: 75%;
            }
        }
    }
}
