// Event page

// Layout
.event_details {
  .event_primary {
    @include fill-parent();
    @include media($tablet) {
      @include span-columns(3 of 12);
    }
    @include media($tablet) {
      @include span-columns(4 of 16);
    }
  }
  .event_secondary {
    @include fill-parent();
    @include media($tablet) {
      @include span-columns(3 of 12);
    }
    @include media($tablet) {
      @include span-columns(6 of 16);
    }
  }
  .event_tertiary {
    @include fill-parent();
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($tablet) {
      @include span-columns(6 of 16);
    }
  }
}

.location-map {
  margin-top: $medium-spacing;
}

.page-campaign-events,
.girlsmove {
  .field {
    margin-bottom: $medium-spacing;
  }
}

.event_status {
  font-weight: normal;
}

.node-type-event {
  .field-name-field-feature-image {
    @include fill-parent;
    @include media($desktop) {
      float: right;
      margin-top: 50px;
      max-width: 45%;
      height: auto;
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }
}

// Add event icons (cannot add class to govCMS directly
// Refactor as mixin

.field-name-field-event-date {
  @extend %baseicon;
  &:before {
    content: "\f073";
  }
}

.field-name-field-link-to {
  @extend %baseicon;
  &:before {
    content: "\f0ac";
  }
}

.field-name-field-event-organiser {
  @extend %baseicon;
  &:before {
    content: "\f007";
  }
}

.field-name-field-health-topic {
  @extend %baseicon;
  &:before {
    content: "\f02b";
  }
}

.field-name-field-address {
  @extend %baseicon;
  &:before {
    content: "\f041";
  }
}


// Event listing
// Right-align images
.list-horizontal--events {
  @extend .list-horizontal;

  > li {
    display: block; // override flex
    //max-width: 100%;

    // Image
    @include direction-context(right-to-left) {
      figure {
        display: none;
        //@include media($desktop) {
        //  display: inline;
        //  @include span-columns(5 of 16);
        //}
        //img {
        //  width: 100%;
        //  height: auto;
        //}
      }
    }

    // Content
    article {
      @include fill-parent;
      @extend %baseicon;
      padding-left: 5em !important;
      &:before {
        content: "\f133";
        font-size: 3.5em !important;
      }
    }
  }
}
