// Event page

// Layout
.event_details {
  .event_primary {
    @include fill-parent();
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($tablet) {
      @include span-columns(8 of 16);
    }
  }
  .event_secondary {
    @include fill-parent();
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($tablet) {
      @include span-columns(8 of 16);
    }
  }
}

.location-map {
  margin-top: $medium-spacing;
}

.page-campaign-events,
.girlsmove {
  #block-system-main,
  .list-horizontal--events {
    .field {
      margin-bottom: $medium-spacing;
    }
  }

}

.event_status {
  font-weight: normal;
}

.node-type-event {
  .field-name-field-feature-image {
    @include fill-parent;
    @include media($desktop) {
      float: right;
      margin-top: 50px;
      max-width: 45%;
      height: auto;
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }
}

// Add event icons (cannot add class to govCMS directly
// Refactor as mixin

.field-name-field-event-date {
  @extend %baseicon;
  &:before {
    content: "\f073";
  }
}

.field-name-field-link-to {
  @extend %baseicon;
  &:before {
    content: "\f0ac";
  }
}

.field-name-field-event-organiser {
  @extend %baseicon;
  &:before {
    content: "\f007";
  }
}

.field-name-field-health-topic {
  @extend %baseicon;
  &:before {
    content: "\f02b";
  }
}

.field-name-field-address {
  @extend %baseicon;
  &:before {
    content: "\f041";
  }
}

.field-name-field-state {
  @extend %baseicon;
  &:before {
    content: "\f278";
  }
}




// Event listing
// Right-align images
.list-horizontal--events {
  @extend .list-horizontal;

  // Generic field margin
  [class*="field-name-field-"] {
    margin-top: $small-spacing;
  }

  > li {
    display: block; // override flex
    max-width: 100%;

    // Image
    @include direction-context(right-to-left) {
      figure {
        //display: none;
        @include fill-parent;
        @include media($desktop) {
          display: inline;
          @include span-columns(5 of 16);
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    // Content
    article {
      @include fill-parent;
      @extend %baseicon;
      padding-left: 5em !important;
      &:before {
        content: "\f133";
        font-size: 3.5em !important;
      }
    }
  }
}


// Event filter
aside {
  #block-views-exp-event-page {
    background: #f0f3f5;
    padding: $medium-spacing;
    .form-item, .container-inline-date {
      margin-bottom: 0;
    }
    .views-exposed-widget {
      clear: both;
    }
  }
  // Force h2 to look like h3
  h2 {
    @include h3();
    margin-top: 0;
  }
}