.image-gallery {
  ul {
        list-style: none;
        padding: 0;
        margin: 0 -12px;
      li {
            width: 100%;
            float: left;
            box-sizing: border-box;
            position: relative;
            min-height: 1px;
            padding-left: 12px;
            padding-right: 12px;
            margin-bottom: 1em;
                @include media($tablet) {
                    width: 30%;
                }
                @include media($desktop) {
                    width: 25%;
                }
          a{
              border-bottom: none;
              img{
                  height: auto;
                  display: block;
                  margin: 0 auto;
                  @include media($tablet) {
                    margin: 0;             
                  }
                  @include media($desktop) {
                    display: inline-block;
                  }
              }
          }
      }
   }
}