.image-gallery {
  @include clearfix;
  .field-item {
    line-height: 0;
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    margin-bottom: 1em;
    @include media($tablet) {
      width: 30%;
      padding-right: 1em;
    }
    @include media($desktop) {
      width: 25%;
    }
    a {
      border-bottom: none;
      img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        @include media($tablet) {
          margin: 0;
        }
        @include media($desktop) {
          display: inline-block;
        }
      }
    }
  }
}