// List count - expects UI-Kit 1 opinionated markup :(
.list-count {
  counter-reset: standard-counter;
  >li {
    vertical-align: top;
    position: relative;
    padding-left: rem(80);
    min-height: rem(90);
    &:before {
      content: counter(standard-counter, decimal);
      counter-increment: standard-counter;
      display: inline-block;
      float: left;
      line-height: $base-heading-leading;
      text-align: center;
      width: rem(70);
      font-weight: 700;
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 0;
      font-size: rem(50);
    }
  }
  @include media($tablet) {
    >li {
      &:before {
        padding-top: rem(10);
      }
    }
  }
  @include media($desktop) {
    >li {
      &:before {
        padding-top: rem(19);
      }
    }
  }
}

// Generic large list without need for special markup
// Expects to be applied to as <ol class="list-count--large">
%list--large {
  list-style-type: none;
  counter-reset: standard-counter;
  padding: 20px 0;
  >li {
    vertical-align: top;
    position: relative;
    margin: 25px 0 25px;
    border-bottom: 1px dotted $border-colour;
    padding: 0 0 35px 60px;
    &::before {
      content: counter(standard-counter, decimal);
      counter-increment: standard-counter;
      float: left;
      text-align: center;
      font-weight: 700;
      position: absolute;
      left: 0;
      top: 5px;
      padding-top: 0;
      font-size: 40px;
    }
  }
}

// Apply default to <ol>
ol.list-large {
  @extend %list--large;
}

// Variant for <ul>
ul.list-large {
  @extend %list--large;
  counter-reset: none;
  >li {
    padding-left: 50px;
    &::before {
      top: 0;
      content: '■';
      counter-increment: none;
    }
  }
}

// UIkit lists

// override max-width inside lists
.list-horizontal {
  li, p {
    max-width: 100%;
  }
}

// override --three list for tablet
// .list-vertical--thirds>li {
//   @include media($tablet){
//     @include span-columns(4 of 12);
//     &:nth-child(2n+1){
//       clear: none;
//     }
//   }
// }