// Tiles
.list--tiles {
  >li {
    background-color: $grey-light;
    border-top: 10px solid $grey;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: $medium-spacing;
    padding: $medium-spacing;
    min-height: 100px;
  }
}

.list-vertical,
.list-vertical--thirds,
.list-vertical--fourths {
  &.list--tiles {
    >li {
      border-top: 10px solid $grey;
      padding: $medium-spacing;
    }
  }
}
