// Video block
.video__container {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  @include media($desktop) {
    @include span-columns(10 of 16);
  }
}

.video__info {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  @include media($desktop) {
    @include span-columns(6 of 16);
  }
}

// Video listing
// Override reading width if inside .content_main
.video__list li {
  max-width: 100%;
}
.video__thumb {
  position: relative;
  &:hover,
  &:active,
  &:focus {
    .video__overlay {
      @include transition(all 0.3s ease-in-out);
      @extend %overlay--dark; // default
    }
    .video__overlay--light {
      @include transition(all 0.3s ease-in-out);
      @extend %overlay--light;
    }
    .video__play-button {
      @include transition(all 0.3s ease-in-out);
      @include opacity(1);
    }
  }
}

.video__time {
  margin-top: 0;
  margin-right: 0;
  padding: 0 $small-spacing;
  background-color: #000;
  color: #fff;
  @include opacity(0.75);
  vertical-align: top;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  .field-item:before {
    background-image: image-url("../images/icons/video.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: ' ';
    display: inline-block;
    height: 1em;
    margin-right: 4px;
    width: 1em;
    margin-left: -5px;
    margin-bottom: -2px;
  }
}

.video__play-button {
  background-image: url(../images/icons/video-play.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  display: block;
  height: 100%;
  width: 100%;
}

// Related videos
.video__list--related {
  @extend .video__list;
  @include clearfix;
  @include fill-parent;
  overflow: hidden;
  margin-top: $large-spacing;
  @include border-top;
  @include media($tablet) {
    @include border-top(transparent, 0px);
  }

  .video__item {
    @include clearfix;
  }

  .video__thumb {
    margin-bottom: 0;
    @include span-columns(2 of 4);
    @include media($tablet) {
      @include fill-parent;
    }
  }

  .video__info {
    @include span-columns(2 of 4);
    @include media($tablet) {
      @include fill-parent;
    }
  }

}
