@import "vars";

.longliveyou {
  .block-bean {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: $small-spacing;

    .wrapper {
      &.bean-image-and-text {
        padding: 0;
        @include media($tablet) {
          padding: 0 2em;
        }
        .group-left {
          img {
            clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
          }
          @include fill-parent;
          @include media($tablet) {
            width: 50%;
            float: right;
            img {
              clip-path: polygon(0 0, 9% 100%, 100% 100%, 100% 0);
              margin-bottom: -7px;// To close phantom gap!
            }
          }
        }
        .group-right {
          padding: 0 2em;
          @include fill-parent;
          @include media($tablet) {
            width: 50%;
          }
        }
      }
    }
  }

  // Band colours
  %band--primary {
    background: $background-colour-primary;
    color: #fff;
    h2 {
      color: #fff;
    }
    a {
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  %band--secondary {
    background: $background-colour-secondary;
  }

  #block-bean-longliveyou-intro,
  #block-bean-longliveyou-work-and-income {
    @extend %band--primary;
  }
  #block-bean-longliveyou-finance {
    @extend %band--secondary;
  }

  // Video band.
  &.node-type-campaign {
    #block-views-campaign-videos-block {
      @include clearfix;
      .view-mode-compact {
        div.group-left {
          @extend .video__container;
        }
        div.group-right {
          @extend .video__info;
        }
      }
    }

    #block-views-campaign-videos-block {
      @extend .smokes-band--primary;
    }

  }
}