.visible-mobile {
  @include media($tablet) {
    display: none;
  }
}

// Vertical alignment
.vertical-centre {
  top: 50%;
  transform: translateY(50%);
  position: relative;
}

// Override text wrap where needed
%fullwidth,
.fullwidth {
  max-width: 100% !important;
}