// Hotline bar
#block-bean-drughelp-hotline {
  section.pre-nav {
    @extend %hotline;
    background: $drugs-blue-dark;
    a {
      color: white;
      border: 0px;
      &:hover {
        background-color: $drugs-blue-dark;
      }
    }
  }
}

// Band redeclarations unfortunately because the Sass is an ID-ridden mess
%band--img-text-halves--drughelp {
  @extend .band--img-text;
  overflow: hidden; //padding-bottom: $large-spacing;
  @include media($tablet) {
    padding-bottom: $medium-spacing;
  }
  .band__img {
    float: right;
    padding-bottom: $medium-spacing;
    @include media($mobile) {
      padding-top: $medium-spacing;
    }
    @include media($tablet) {
      @include span-columns(4 of 12);
      // img {
      //   max-width: 90%;
      // }
    }
    @include media($desktop) {
      @include span-columns(6 of 16);
    }
  }
  .band__text {
    float: left;
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
    @include media($desktop) {
      @include span-columns(10 of 16);
    }
  }
}

// Static block band
#block-bean-drughelp-need-help {
  @extend %band--img-text-halves--drughelp;
  padding-bottom: $medium-spacing;
  background: $grey-light;
  h2 {
    margin-top: 0;
  }
}

// Feature video
.drughelp.node-type-campaign {
  #block-views-campaign-videos-block {
    @extend %band;
  }
}

#block-bean-drughelp-emergency {  
  @extend %band;
  @include linear-gradient(180deg, $drugs-blue-darker, $drugs-blue-dark, $fallback: $drugs-blue-darker);
  color: #fff;
  h2 {
    color: $white;
    @extend %fullwidth;
  }
  h3 {
    margin-top: 0;
  }
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #000;
    }
  }
}

#block-bean-drughelp-intro {  
  @extend %band--img-text-halves--drughelp;
  padding-top: $medium-spacing;
  padding-bottom: $large-spacing;
  .band__text {
    margin-bottom: 0;
  }
  .band__img {
    background: #fee;
    padding: 30px;
    border-left: 10px solid #af1e1e;
    margin-top: $medium-spacing;
    h2 {
      @include h3;
      margin-top: 0;
    }
  }
}

#block-bean-drughelp-information-about-drugs {
  @extend %band;
  background: $grey-light;
}


// Tiles
.drughelp {
  .list--tiles {
    >li {
      background-color: #fff;
      border-top-color: $drugs-blue-dark;
      @include box-shadow();
      min-height: 120px;
    }
  }
}

// Primary nav colours
.drughelp {
  @include media($tablet) {
    section.site-nav {
      a:hover {
        border-color: $drugs-blue-dark;
      }
      a.is-active {
        border-color: $drugs-blue-dark !important;
        &:hover {
          border-color: $drugs-blue-dark !important;
        }
      }
    }
  }
}
