// Tweaks for mobile positioning
// .girlsmove and .page-campaign-156 target just this campaign (class in <body>)
.drughelp {
  // Home page
  .hero {
    .hero-bg {
        background-position-y: 5px;
        background-position-x: 0;
        @include media($desktop) {
           background-position-y: -50px;
        }
    }
    .campaign-logo {
      padding-left: 0;
      max-height: 135px;
      margin-top: 23px;
      //left: -20px;
      @include media($mobile) {
        max-height: 100px;
        margin-top: 38px;
      }
      @include media($tablet) {
        max-height: 200px;
        margin-top: 50px;
      }
      @include media($desktop) {
        max-height: 275px;
        margin-top: 62px;
      }
    }
  }
    
  // Other pages
  .hero--content {
    .hero-bg {
      @include media($mobile) {
        background-position-y: -30px; //reset
      }
      background-position-y: -50px;
      @include media($tablet) {
        background-position-y: -75px; //reset
      }
      @include media($desktop) {
        background-position-y: -150px; //reset
      }
    }
    .campaign-logo {
      padding-left: 0;
      max-height: 70px;
      margin-top: 10px;
      //left: -20px;
      @include media($tablet) {
        max-height: 132px;
        margin-top: 10px;
      }
      @include media($desktop) {
        max-height: 167px;
        margin-top: 17px;
      }
    }
  }
}

// Additional non-standard breakpoints
@media screen and (min-width: 1800px){
  .drughelp .hero--content .hero-bg {
    background-position-y: -185px;
  }
}

@media screen and (min-width: 2100px){
.drughelp .hero--content .hero-bg {
  background-position-y: -225px;
}
}
