// Replicate h2 mixin
@mixin h3 {
  font-size: rem(24);
  margin-top: $medium-spacing + ($small-spacing / 3); // 38.133px; was 34.4px from Alz.
  margin-bottom: $small-spacing;

  @include media($tablet) {
    font-size: rem(26);
  }

  @include ie-lte(8) {
    font-size: 26px;
  }
}
