.smokes-band--primary {
  @extend .band;
  background-color: $grey-light;
}

.page-campaign-videos {
  main .content-main {
    @include media($mobile) {
      @include span-columns(8 of 8);
    }
  }
}

// Hotline bar
#block-bean-quitnow-hotline {
  section.pre-nav {
    @extend .band--quitline;
    a {
      border: 0px;
      &:hover {
        background-color: inherit;
      }
    }
  }
}

// Partner bar.
#block-bean-quitenow-partner {
  @extend .smokes-band--partners;
  background: black;
  .list-vertical--fourths > li {
    border-top: 0px;
    a:hover {
      background-color: inherit;
    }
    img {
      max-height: 130px;
    }
  }
  li.last-element {
    margin-top: 50px;
  }
}

// sensitivities bar.
#block-bean-quitnow-sensitivities {
  @extend .band--sensitivity;
}

// Navigation menu
.smokes,
.page-campaign-6 {
  @include media($tablet) {
    section.site-nav {
      a:hover {
        border-color: black;
      }
      a.is-active {
        border-color: black !important;
        &:hover {
          border-color: black !important;
        }
      }
    }
  }
} 

// List override
.list-vertical > li,
.list-vertical--thirds > li,
.list-vertical--fourths > li,
footer[role='contentinfo'] .footer-top nav > li {
  border-color: $black;
}

// Lists
.list-vertical > li,
.list-vertical--thirds > li,
.list-vertical--fourths > li {
  border-top: 0;
}

.list-vertical > li article,
.list-vertical--thirds > li article,
.list-vertical--fourths > li article {
  margin-top: $small-spacing;
}

// Reassign border colour
.list-vertical,
.list-vertical--thirds,
.list-vertical--fourths,
.list-vertical--halves {
  > li {
    border-color: $grey;
  }
}

// Custom content
// Benefits list
.list-horizontal--benefits {
  @extend .list-horizontal;
  h2 {
    @include h3;
    margin-top: $small-spacing;
  }
  > li {
    @include media($tablet) {
      display: flex;
    }

    figure {
      display: none;
      @include media($tablet) {
        display: block;
        flex: 0 0 12%;
      }
    }
  }
}

// List extensions
.list-vertical--halves {
  @extend %base-vertical-list;

  &.no-border {
    li {
      border-top: none;
      padding-top: 0;
    }
  }

  > li {
    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);

      @include ie-lte(8) {
        width: 45%;
      }
    }
    @include media($desktop) {
      @include omega-reset(2n);
      @include span-columns(6 of 12);
      @include omega(2n);

      @include ie-lte(8) {
        width: 23%;
      }
    }
  }
}


// Hide campaign field.
.field-name-field-campaign {
  display: none;
}

.smokes.node-type-campaign {
  #block-views-campaign-videos-block {
    @extend .smokes-band--primary;
    .view-mode-compact {
      div.group-left {
        @extend .video__container;
      }
      div.group-right {
        @extend .video__info;
      }
    }
  }
}

