// Bands

// Default for a landing page band
%band {
  @include clearfix;
  padding: $small-spacing 0 $large-spacing;
  @include fill-parent;
}

// Extend these classes
// Add modifiers for light/dark to permit childen to adapy for contrast
.band {
  @extend %band;
}
.band--small {
  @extend %band;
  padding: 0;
}
.band--pad {
  @extend %band;
  padding: $large-spacing 0;
}

.band--secondary {
  @extend %band;
  background-color: $background-colour-secondary;
}

.band--gradient {
  @extend %band;
  @include linear-gradient(90deg, #DDDDDD, #FFFFFF, $fallback: #EEEEEE);
}
