// Band variants extending defaults
.gmym-band--primary {
  @extend .band;
  background-color: $grey-light;
}

.gmym-band--secondary {
  @extend %band;
  background-color: $grey;
}

.girlsmove {

  // Partner band
  #block-bean-gmym-partner {
  }

  // Events band
  #block-views-event-block-1 {
    padding-bottom: $large-spacing;
  }

  // Image field
  .content {
    .field-name-field-image {
      margin-bottom: $large-spacing;
      img {
        height: auto;
      }
    }
    .list--cards {
      .field-name-field-image,
      > li figure img {
        margin-bottom: 0;
        width: 100%;
      }
    }

  }

  // Activities video band
  #block-views-campaign-videos-block-4 {
    background: #EEE;
    padding-top: $medium-spacing;
    padding-bottom: $large-spacing;
  }

  #block-bean-gmym-cards-0 {
    @extend .gmym-band--primary;
    padding-top: $medium-spacing;
    padding-bottom: 0;
  }

  .view-event {
    .list--cards > li article {
      padding: $medium-spacing;
      @include media($desktop) {
        min-height: 440px;
      }
    }
  }
}

// Force full width for content container
.page-campaign-activities,
.girlsmove:not(.node-type-campaign-standard-page) {
  main .content-main {
    width: 100%;
  }
}

// Activities/selector band
#block-views-activities-block {
  padding-bottom: $large-spacing;
  @extend .band--gradient;
  @include direction-context(right-to-left) {
    .activity__selector {
      @include fill-parent();
      overflow: hidden;
      h3 {
        display: none;
      }
      p {
        margin-top: 5px;
        margin-right: 15px;
        float: left
      }
      .tags {
        float: left;
        a {
          background-color: #fff;
        }
      }
    }
    .view-activities {
      @include fill-parent();
    }
  }

  .field-name-field-image {
    margin-bottom: 0;
  }

  .list-vertical {
    margin-top: 0;
  }
  .list-horizontal {
    margin-top: 0;
    > li {
      border: 0;
      margin-top: 0;
      max-width: 100%;
      @include media($tablet) {
        display: flex;
        @include span-columns(6 of 12);
      }
      @include media($desktop) {
        @include span-columns(8 of 16);
      }
      figure {
        flex: 0 0 50%
      }
    }
  }

}

// Mobile apps layout
.list-horizontal--narrow {
  @extend .list-horizontal;

  > li {
    // Image
    figure {
      //display: none;
      @include fill-parent;
      margin-bottom: $small-spacing;
      @include media($desktop) {
        flex: 0 0 10%;
      }
    }
  }
}

// Partners
.partner__image {
  margin-bottom: $medium-spacing;
}

// Social media
.social__feature {
  @include fill-parent();

  @include media($tablet) {
    @include span-columns(3 of 12);
  }

  @include media($desktop) {
    @include span-columns(3 of 16);
  }
}

// Juicer
.bean-social-media {
  .juicer-feed {
    ul.j-filters, .j-paginate {
      display: none;
    }
  }
}

.node-social-media {
  .juicer-feed ul.j-filters {
    padding-left: 0;
    li {
      width: 20%;
    }
  }
}

.girlsmove {
  .band--primary {
    background: $cyan;
    color: #FFF;
    padding-bottom: $large-spacing;
    // Links
    a {
      color: #FFF;
      border-color: #fff;
      &:hover,
      &:focus {
        color: $cyan;
        background: #fff;
      }
    }
    .see-more {
      color: #fff;
      &:hover,
      &:focus {
        color: $cyan;
        background: #fff;
      }
      &:after {
        background-image: none;
      }
    }
    .social__links .social__links-item a,
    .social__links--stacked .social__links-item a {
      border: 0;
      &:hover,
      &:focus {
        background: transparent;
        border-bottom: 1px solid #fff;
        color: #fff;
      }
      &:before {
        color: #fff;
      }
    }
  }
}
