.gmym-band--primary {
  @extend .band;
  background-color: $grey-light;
}

.gmym-band--secondary {
  @extend %band;
  background-color: $grey;
}

// Social
.social__feature {
  @include fill-parent();

  @include media($tablet) {
    @include span-columns(3 of 12);
  }

  @include media($desktop) {
    @include span-columns(3 of 16);
  }
}

.girlsmove {
  #block-bean-gmym-partner {
    @extend .gmym-band--primary;
  }

  #block-views-event-block-1 {
    padding-bottom: $large-spacing;
  }

  .content {
    .field-name-field-image {
      margin-bottom: $large-spacing;
      img {
        height: auto;
        width: auto;
      }
    }
  }

  #block-views-campaign-videos-block {
    @extend .band--primary;
    background: #EEE;
    padding-bottom: $large-spacing;
  }

  #block-bean-gmym-cards-0 {
    @extend .gmym-band--primary;
    padding-top: $medium-spacing;
    padding-bottom: 0;
  }

  .view-event {
    .list--cards > li article {
      padding: $medium-spacing;
      @include media($desktop) {
        min-height: 440px;
      }
    }
  }
}

// Force full width for content container
.page-campaign-activities,
.girlsmove:not(.node-type-campaign-standard-page) {
  main .content-main {
    width: 100%;
  }
}


// Juicer
.bean-social-media {
  .juicer-feed {
    ul.j-filters, .j-paginate {
      display: none;
    }
  }
}

.node-social-media {
  .juicer-feed ul.j-filters {
    padding-left: 0;
    li {
      width: 20%;
    }
  }
}

// Activities band
#block-views-activities-block {
  padding-bottom: $large-spacing;
  @include direction-context(right-to-left) {
    .activity__selector {
      background-color: $cyan;
      color: #FFF;
      padding: $large-spacing;
      @include fill-parent();
      @include media($tablet) {
        @include span-columns(4 of 12);
      }
      @include media($desktop) {
        @include span-columns(6 of 16);
      }
      h3 {
        margin-top: 0;
      }
      .tags a {
        border-color: #FFF;
        color: #FFF;
        &:hover,
        &:focus {
          background-color: #FFF;
          color: #000;
        }
      }
    }

    .view-activities {
      @include fill-parent();
      @include media($tablet) {
        @include span-columns(8 of 12);
      }
      @include media($desktop) {
        @include span-columns(10 of 16);
      }

    }
  }

  .list-horizontal {
    margin-top: 0;
    > li {
      margin-top: 0;
      max-width: 100%;
      figure {
        flex: 0 0 50%
      }
    }
  }

}

// Mobile apps layout
.list-horizontal--narrow {
  @extend .list-horizontal;

  > li {
    // Image
    figure {
      //display: none;
      @include fill-parent;
      margin-bottom: $small-spacing;
      @include media($desktop) {
        flex: 0 0 10%;
      }
    }
  }
}