// Girlsmove-specific vars
// These vars will override UI-kit and Health default for this campaign
$cyan:                            #278288;
$light-blue:                      #ebf9fb;
$red:                             #c3274e;
$light-red:                       #ffe2e9;//#ffedf1;
$light-purple:                    #ffeafe;// #e9ecff;
$light-cyan:                      #E0F5F8;

// Colour constants
$colour-primary:                  $grey;
$colour-secondary:                $grey-light;
$background-colour-hero:          $colour-primary;

// Uncomment to override
$background-colour-primary:       $colour-primary;
$background-colour-secondary:     $colour-secondary;
$background-colour-hero:          $light-purple;
//$background-colour-dark:        $grey-darkest;

//$hero-font-colour:              $black;
//$shadow-colour:                 $grey-dark;

// Navigation
$navigation-border-colour:        $light-purple;
