// Girlsmove-specific vars
// These vars will override UI-kit and Health default for this campaign
$cyan:                            #278288;
$light-blue:                      blue;

// Colour constants
$colour-primary:                  $grey;
$colour-secondary:                $grey-light;
$background-colour-hero:          $colour-primary;

// Uncomment to override
$background-colour-primary:       $colour-primary;
$background-colour-secondary:     $colour-secondary;
$background-colour-hero:          $cyan;
//$background-colour-dark:        $grey-darkest;

//$hero-font-colour:              $black;
//$shadow-colour:                 $grey-dark;

// Navigation
$navigation-border-colour:        $cyan;
