.page-campaign-videos {
  main .content-main {
    @include media($mobile) {
      @include span-columns(8 of 8);
    }
  }
}

// Hotline bar
section.pre-nav {
  @extend .band--quitline;
  a {
    border: 0px;
    &:hover {
      background-color: inherit;
    }
  }
}

// sensitivities bar.
#block-bean-quitnow-sensitivities {
  @extend .band--sensitivity;
}

// Navigation menu
section.site-nav {
  #block-menu-menu-quitnow-menu {
    a:hover {
      border-color: black;
    }
    a.is-current {
      border-color: black;
    }
  }
}
