.page-campaign-videos {
  main .content-main {
    @include media($mobile) {
      @include span-columns(8 of 8);
    }
  }
}

// Navigation menu
section.site-nav {
  #block-menu-menu-quitnow-menu {
    a:hover {
      border-color: black;
    }
    a.is-current {
      border-color: black;
    }
  }
}
