// Global header
// UI-kit overrides
.page-header {
  padding-bottom: $base-spacing;
  box-shadow: none;
  background-color: $white;
}

.page-header__logo {
  padding: 0;

  .logo img {
    //background-image: image-url("health_crest.svg");
    background-size: contain;
    display: inline-block;
    width: 170px; //Revisit
    height: 41px; //Revisit

    @include media($tablet) {
      width: 227px; //Revisit
      height: 55px; //Revisitß
    }

    @include media($desktop) {
      width: 300px;
      height: 72px;
    }
  }
}

.page-header__logo {
  text-align: left;
}

header[role='banner'] .page-header__logo a {
  border-bottom: none;
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

