body main {
  -ms-flex: none;
}

@mixin wrapper() {
  @include wrapper-padding;
  @include outer-container;
}

%force-full-width {
  main {
    padding: 0px;
    max-width: 100%;
  }
  article.content-main {
    width: 100%;
    @include media($mobile) {
      .inline-tab-nav,
      .workbench-info-block,
      .messages {
        max-width: 75em;
        margin: auto;
      }
      @include span-columns(8 of 8);
    }
  }
}

// Forces main content full-width to permit bands
.node-type-campaign {
  @extend %force-full-width;
  article.content-main {
    h1.title {
      display: none;
    }
  }
}
.node-type-landing-page {  
  @extend %force-full-width;
  main {
    padding-top: 0;
    @include media($tablet){
      padding-top: 3.2em;
    }
  }
}


// Force page types to full width
.node-type-video,
.page-search404,
.page-node-1,
.page-campaigns,
.page-campaign-videos,
.node-type-listing-page,
.node-type-landing-page,
.node-type-image,
.node-type-publication {
  article.content-main {
    width: 100%;
  }
}

// Override UIkit
main {
  padding-top: $medium-spacing;
  @include media($tablet) {
    padding-top: $large-spacing;
  }
}