// Reset width to container for wide-forced layouts
.site-nav {
  @include clearfix;
  @include wrapper-padding;
  @include outer-container;
}

.sticky-nav {
  &.on {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background: #fff;
    display: block;
    z-index: 1001;
    @include box-shadow(0, 2px, 6px, $shadow-color);
  }
}
.nav-toggle {
  margin-top: 0;
}

.local-nav {
  @include media($tablet) {
    padding-top: $small-spacing;
  }
}

// Move local nav to right without changing region (ie. source order)
.page--sidebar-left .sidebar__left {
  @include media($tablet) {
    float: right;
  }
}
// Except for events with left filter nav
.events .page--sidebar-left .sidebar__left {
  @include media($tablet) {
    float: left;
  }
}