.node-type-campaign {
  #block-views-campaign-videos-block {
    @extend .band--texture;
    .view-mode-compact {
      div.group-left {
        @extend .video__container;
      }
      div.group-right {
        @extend .video__info;
      }
    }
  }

  #block-block-2 {
    float: none;
    @extend .band--primary;
  }

  #block-block-7 {

    // Activities
    .partner {
      @include span-columns(4 of 4);

      @include media($tablet) {
        @include span-columns(6 of 12);
      }

      @include media($desktop) {
        @include span-columns(8 of 16);
      }
      h3 {
        font-weight: $base-font-weight;
        margin-top: 0;
      }
    }
    .partner__image {
      @include span-columns(4 of 4);

      @include media($tablet) {
        @include span-columns(2 of 6);
      }

      @include media($desktop) {
        @include span-columns(3 of 8);
      }
    }
    .partner__desc {
      @include span-columns(4 of 4);

      @include media($tablet) {
        @include span-columns(4 of 6);
      }

      @include media($desktop) {
        @include span-columns(5 of 8);
      }
    }
  }
}

