// GMYM-specific vars

// Colour constants
$grey:              #DDD;
$grey-light:        #EEE;
$blue:              #445096;
$blue-dark:         #333F85;
$purple:            #AE27A6;
$purple-dark:       #841A7E;
$pink:              #C3274E;
$pink-dark:         #E83965;
$cyan:              #278288;
$cyan-dark:         #216f74;
$green:             #578235;
$green-dark:        #7B9941;
$orange:            #BF5730;
$orange-dark:       darken($orange, 10%);
$white:             #FFFFFF;

// Colour variables
$background-colour-primary:       $grey-light;
$background-colour-secondary:     $grey;
