// Video block
.video__container {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  @include media($desktop) {
    @include span-columns(10 of 16);
  }
}

.video__info {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  @include media($desktop) {
    @include span-columns(6 of 16);
  }
}

// Page view.
.page-campaign-videos {
  .view-campaign-videos {
    .views-row-even {
      .group-left {
        float: right;
        margin-right: 0px;
      }
    }
  }
}

// Block view.
.view-campaign-videos {
  .field-name-field-video-thumbnail {
    img {
      height: auto;
    }
  }
}
