// Page view.
.page-campaign-videos {
  .content-main li {
    max-width: 100%;
    div.group-left {
      @extend .video__container;
    }
    div.group-right {
      @extend .video__info;
    }
  }
}

// Block view.
.view-campaign-videos {

  .field-name-field-video-thumbnail {
    @extend .card-image;
    img {
      height: auto;
    }
  }

  .field-name-field-video-promoted-thumbnail {
    img {
      height: auto;
    }
  }

  .field-name-title {
    @extend .card-header;
  }

  .field-name-field-video-length {
    @extend .video__time;
  }

  .video__transcript {
    summary {
      background-color: transparent;
    }
  }

  div.group-top-left,
  div.group-bottom-left {
    @extend .video__container;
  }
  div.group-top-right,
  div.group-bottom-bottom {
    @extend .video__info;
  }
}
