// Page view.
.page-campaign-videos {
  .content-main li {
    max-width: 100%;
    div.group-left {
      @extend .video__container;
    }
    div.group-right {
      @extend .video__info;
    }
    .field-name-field-video-thumbnail {
      img {
        height: auto;
      }
    }
  }
}

// Block view.
.view-campaign-videos,
.node-type-video {

  // Removed border-top
  .list-vertical--thirds {
    li {
      border-top: 0px;
    }
  }

  .field-name-field-video-promoted-thumbnail {
    a {
      border: 0px;
      &:hover {
        background-color: inherit;
      }
    }
    img {
      height: auto;
    }
  }

  .field-name-field-video-thumbnail {
    img {
      height: auto;
    }
  }

  .field-name-field-video-length {
    @extend .video__time;
  }

  .video__transcript {
    summary {
      background-color: transparent;
    }
  }

  .field-name-post-date {
    @extend .video__date;
  }

  div.group-top-left {
    @extend .video__container;
  }
  div.group-top-right {
    @extend .video__info;
  }

  div.group-footer {
    padding-top: 20px;
    font-size: 0.5em;
  }
}

.node-type-video {
  .ds-wrapper {
    @extend .wrapper;
    clear: both;
    padding: 0px;
  }
}
