.page-campaign-videos,
.node-type-video {
  .region-content {
    .wrapper {
      min-width: 0px;
      div.group-left {
        @extend .video__container;
      }
      div.group-right {
        @extend .video__info;
      }
    }
  }
}
