// Band redeclarations unfortunately becuase the Sass is an ID-ridden mess
%band--img-text-halves--immi {
  @extend .band--img-text;
  //padding-bottom: $large-spacing;
  @include media($tablet) {
    padding-bottom: $medium-spacing;
  }
  .band__img {
    float: right;;
    img {
      max-width: 80%;
    }
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
    @include media($desktop) {
      @include span-columns(6 of 16);
    }
  }
  .band__text {
    float: left;
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
    @include media($desktop) {
      @include span-columns(10 of 16);
    }
  }
}

%band--img-text-halves--immi--invert {
  @extend %band--img-text-halves--immi;
  @include media($tablet) {
    .band__text {
      float: right;
    }
    .band_img {
      float: left;
    }
  }
}

.immunisationfacts .band--gradient {
  @include linear-gradient(180deg, $purple-darker, $purple-light, $fallback: $purple-darker);
  h2 {
    color: $white;
  }
  .see-more {
    display: none;
  }
  .list--cards > li {
    @include box-shadow($color: $purple-darker);
  }
}


// Hotline bar
%hotline {
  @include pad($small-spacing 0 $tiny-spacing);
  background: $purple-darker;
  color: $white;
  text-align: center;
  p {
    margin-bottom: $tiny-spacing;
  }
}

#block-bean-immunisation-hotline{
  section.pre-nav {
    @extend %hotline;
    a {
      color: white;
      border: 0px;
      &:hover {
        background-color: $colour-primary;
      }
    }
  }
}

#block-bean-immunisation-uptodate {
    @extend %band--img-text-halves--immi;
    //@extend .band--tight-bottom;
    //padding-bottom: 0;
    background: $grey-light;
  }

#block-bean-immunisation-vaccine-safety {
  @extend %band--img-text-halves--immi--invert;
  //@extend .band--tight-bottom;
  //padding-bottom: 0;]
}