// Immunise-specific vars
// These vars will override UI-kit and Health default for this campaign

// Colour constants
$colour-primary:                  $grey;
$colour-secondary:                $grey-light;
$background-colour-hero:          $colour-primary;

// Uncomment to override
$background-colour-primary:       $colour-primary;
$background-colour-secondary:     $colour-secondary;
$background-colour-hero:          $purple-darker;

// Navigation
$navigation-border-colour:        $purple-darker;


