// Abstract for campaign hone pages only
.node-type-campaign .abstract {
  margin-bottom: 0;
  margin-top: $medium-spacing;
  border: 0;
}

// Override heading sizes for mobile (default)
h2 {
  font-size: rem(22);
  margin-bottom: $small-spacing;
  @include media($tablet) {
    font-size: rem(26);
    margin-bottom: 1em;
  }
  @include ie-lte(8) {
    font-size: 28px;
  }
}

h3 {
  font-size: rem(20);
  @include ie-lte(8) {
    font-size: 24px;
  }
}