// Campaign vars

// Colour constants
$grey:              #DDD;
$grey-light:        #EEE;
$blue:              #445096;
$blue-dark:         #333F85;
$purple:            #AE27A6;
$purple-dark:       #841A7E;
$purple-darker:     #24093a;
$purple-light:      #613084;
$pink:              #C3274E;
$pink-dark:         #E83965;
$cyan:              #278288;
$cyan-dark:         #216f74;
$green:             #578235;
$green-dark:        #7B9941;
$orange:            #BF5730;
$orange-dark:       darken($orange, 10%);
$white:             #FFFFFF;
$drugs-blue-dark:         #024b82;
$drugs-blue-darker:       #240a3a;

// Colour variables
$background-colour-primary:       $grey-light;
$background-colour-secondary:     $grey;

// Per-campaign repeatable variables
$background-colour-primary:       $grey-light;
$background-colour-secondary:     $grey;
$background-colour-hero:          $black;
$hero-font-color:                 $white;
